* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.activated {
    color: #e47c06;
}

#searchRecipesButton {
    background-color: #f58d44;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 20px;
    color: #ffffff;
    gap: 10px;
    display: flex;
    align-items: center;
    transition: all 1s;
}

#searchRecipesButton:hover {
    transform: scale(1.15);
}

.form-control::placeholder {
    color: #afafaf;
}

.recipeImage {
    width: 55px;
    height: 55px;
    border-radius: 50px;
}

.recipeTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 14.2rem;
    color: #e47c06;
    font-size: 14px;
}

.recipeList {
    list-style-type: none;
    padding: 15px 10px;
}


.recipeLink {
    text-decoration: none;
    color: #000000;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.recipeLink:hover {
    transform: translate(10px);
}

.recipePublisher {
    color: #525252;
    font-size: 12px;
}

.recipeDetailInner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    gap: 20px;
}

.hidden {
    display: none;
}

.recipeUI {
    height: 100vh;
    margin-top: 20px;
}

.recipeImgTitle img {
    width: 100%;
    height: 18em;
    opacity: 0.5;
    object-fit: cover;
    display: block;
}

.recipeImgTitle h2 {
    position: absolute;
    top: 12.5em;
    right: 3em;
    transform: skewY(-6deg);
    background-image: linear-gradient(to bottom right, #f8d375,#f8928b);
    padding: 20px;
    text-transform: uppercase;
    color: #ffffff;
    width: 50%;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.2;
}

.recipeServingTime {
    display: flex;
    justify-content: space-around;
    width: 23em;
}

.recipeServingTimeBookmark {
    display: flex;
    margin-top: 90px;
    justify-content: space-around;
    align-items: center;
}

.recipeBookmark i {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #f8d375,#f8928b);
}

.recipeBookmark {
    transition: all 0.5s;
}

.recipeBookmark:hover {
    transform: scale(1.1);
}

.recipeServingList {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.recipeServing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 2em;
}





.button{
    background-image: linear-gradient(to bottom right, #f8d375,#f8928b);
    transition: all 0.5s;
}

.button:hover{
    transform: translate(10px);
}

.fontColor {
    color: #f8928b;
}

.borderColor {
    border: 2px solid #f8928b;
}

.scrolling {
    overflow-y: scroll;
}